<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chi tiết sự kiện</title>
</head>

<body class="w-screen h-full overflow-x-hidden font-utm relative bg-background">
    <!-- header trang chủ -->
    <header>
        <div class="w-full fixed top-0 z-50 bg-background">
            <div class="relative mx-auto md:max-w-7xl">
                <div class="py-3.5 px-4 w-full lg:px-2 2xl:px-0">
                    <nav class="w-full flex items-center justify-between">
                        <div>
                            <a href="./index.html"><img src="../img/header-footer/logo.png" alt=""
                                    class="h-9 w-[138px] object-contain"></a>
                        </div>
                        <ul
                            class="absolute left-0 top-0 z-50 w-full min-h-screen pl-4 bg-background text-body-2 text-neutral-1-700 font-normal hidden flex-col gap-6 
                        xl:gap-[34px] xl:pl-0 xl:pr-2.5 xl:w-auto xl:min-h-[62px] xl:flex-row xl:flex xl:items-center xl:static">
                            <div class="w-full flex justify-end px-4 pt-3.5 xl:hidden">
                                <div class="close-btn text-[40px] leading-10 text-neutral-2-300 cursor-pointer">&#10005;</div>
                            </div>
                            <li class="h-full flex items-center justify-center xl:w-[90px]"><a href="./index.html"
                                    class="w-full relative xl:text-center">Trang chủ</a></li>
                            <li class="h-full flex items-center justify-center xl:w-[90px]"><a href="./event.html"
                                    class="w-full relative xl:text-center current-page">Sự kiện</a></li>
                            <li class="h-full flex items-center justify-center xl:w-[90px]"><a href="./library.html"
                                    class="w-full relative xl:text-center">Thư viện</a></li>
                            <li class="h-full flex items-center justify-center xl:w-[90px]"><a href="./blog.html"
                                    class="w-full relative xl:text-center">Bài viết</a></li>
                            <li class="h-full flex items-center justify-center xl:w-[90px]"><a href="./contact.html"
                                    class="w-full relative xl:text-center">Liên hệ</a></li>
                            <li class="h-full flex items-center xl:hidden">
                                <div class="login-btn outline-button color-outline pl-[10.2px] pr-[4.2px] py-[2.2px]">
                                    <button type="button"
                                        class="outline-button bg-transparent py-3.5 pl-[69px] pr-[68px] text-white text-body-3 font-bold font-vl"><span></span>
                                        <div class="relative z-10">Đăng nhập</div>
                                    </button>
                                </div>
                            </li>
                        </ul>
                        <div
                            class="login-btn outline-button color-outline pl-[10.2px] pr-[4.2px] py-[2.2px] hidden xl:block">
                            <button type="button"
                                class="outline-button bg-transparent py-3.5 pl-[69px] pr-[68px] text-white text-body-3 font-bold font-vl"><span></span>
                                <div class="relative z-10">Đăng nhập</div>
                            </button>
                        </div>
                        <button type="button" class="toggle-btn twi-26-menu-fill relative z-20 cursor-pointer 
                            text-neutral-2-300 rounded-lg w-auto h-auto text-[40px] leading-10 
                            flex items-center justify-center xl:hidden">
                        </button>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="w-full overflow-x-hidden">
            <div class="w-full relative h-auto mt-[68px] xl:mt-[90px]"></div>
            <div class="w-full pb-[31px] pt-10 md:pb-[120px] md:pt-20">
                <section>
                    <div class="w-full relative mx-auto xl:max-w-[1920px]">
                        <div class="w-full relative mx-auto xl:max-w-7xl">
                            <div class="w-full px-4 lg:px-2 2xl:px-0 text-white">
                                <div class="event-detail flex flex-col gap-[45px] md:gap-10 xl:gap-[52px] md:flex-row">
                                    <div class="w-full xl:min-w-[411px]">
                                        <div class="type mb-2 text-body-2">Premium bar</div>
                                        <div class="flex gap-1">
                                            <div class="aspect-square w-6 xl:w-8"><img src="../img/header-footer/fire.png" alt=""></div>
                                            <div data-before="Lockdown lounge Saigon" class="layered-heading layered-down-6 layered-no-underline layered-small-font pr-2">Lockdown lounge Saigon</div>
                                        </div>
                                        <div class="text-body-2 text-justify mt-[25px] mb-8 md:my-6 xl:mt-[17px] xl:mb-10">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                            Dolor, eleifend porta sed sapien est mattis ultrices 
                                            malesuada at. Sed tincidunt ac, nibh augue. </div>
                                        <div class="flex flex-col gap-6">
                                            <div class="flex gap-3 items-center">
                                                <div class="icon twi-26-maps-line"></div>
                                                <div class="text-body-2">99 Nguyễn Thị Minh Khai, Bến Thành, Quận 1,TP. Hồ Chí Minh</div>
                                            </div>
                                            <div class="flex gap-3 items-center">
                                                <div class="icon twi-26-time-line"></div>
                                                <div class="text-body-2">10:00pm - 3:00am</div>
                                            </div>
                                            <div class="flex gap-3 items-center">
                                                <div class="icon twi-26-phone-line"></div>
                                                <div class="text-body-2">097.750.2502</div>
                                            </div>
                                            <div class="flex gap-3 items-center">
                                                <div class="icon twi-26-music-line"></div>
                                                <div class="text-body-2">House, Hip Hop, EDM</div>
                                            </div>
                                            <div class="flex gap-3 items-center">
                                                <div class="icon twi-26-mail-line"></div>
                                                <div class="text-body-2">lockdownloungeSG@gmail.com</div>
                                            </div>
                                        </div>
                                        <div class="w-full justify-center mt-10 hidden md:flex xl:mt-[60px]">
                                            <div class="outline-button color-outline pl-[10.2px] pr-[4.2px] py-[2.2px]">
                                                <a href="./contact.html">
                                                    <button type="button" class="outline-button bg-transparent py-3.5 
                                                    pl-12 pr-16 text-white text-body-3 font-bold font-vl">
                                                        <span></span>
                                                        <div class="relative z-10">Đặt ngay</div>
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="relative p-5 md:p-6 img-container h-fit">
                                        <div class="w-full relative xl:grid xl:grid-cols-3 xl:gap-2">
                                            <div class="w-full h-full aspect-event-detail-mobile md:aspect-event-detail-tablet
                                            xl:aspect-auto xl:col-span-2 xl:row-span-3">
                                                <img src="../img/home/cosmos.png" alt="" class="w-full h-full object-cover object-center">
                                            </div>
                                            <div class="aspect-5/4 w-full h-full hidden xl:block">
                                                <img src="../img/home/mck-16-typh.png" alt="" class="w-full h-full object-cover object-center">
                                            </div>
                                            <div class="aspect-5/4 w-full h-full hidden xl:block">
                                                <img src="../img/home/girl-1.png" alt="" class="w-full h-full object-cover object-center">
                                            </div>
                                            <div class="aspect-5/4 w-full h-full hidden xl:block">
                                                <img src="../img/home/girl-0.png" alt="" class="w-full h-full object-cover object-center">
                                            </div>
                                        </div>
                                        <div class="border-top"><div></div></div>
                                        <div class="border-bottom"><div></div></div>

                                        <div class="absolute top-0 -left-[50px] -z-10 md:top-0 md:left-0 xl:hidden"><img src="../img/header-footer/dots.png" alt=""></div>
                                        <div class="absolute bottom-0 -right-[50px] -z-10 md:-bottom-2 md:-right-1 xl:-bottom-6 xl:-right-[90px]"><img src="../img/header-footer/dots.png" alt=""></div>
                                    </div>
                                </div>
                                <div class="w-full flex justify-center mt-[45px] md:hidden">
                                    <div class="outline-button color-outline pl-[10.2px] pr-[4.2px] py-[2.2px]">
                                        <a href="./contact.html">
                                            <button type="button" class="outline-button bg-transparent py-3.5 
                                            pl-12 pr-16 text-white text-body-3 font-bold font-vl">
                                                <span></span>
                                                <div class="relative z-10">Đặt ngay</div>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elipse-blur-18"></div>
                        <div class="elipse-blur-19"></div>
                        <div class="line-background bg-line-2 w-[263px] top-[90px] left-[260px] hidden md:block xl:w-[242px] xl:top-5 xl:left-[710px]"></div>
                        <div class="line-background bg-line-2 w-[263px] top-[300px] left-[155px] hidden md:block xl:w-[463px] xl:top-[340px] xl:left-[630px]"></div>
                        <div class="line-background bg-line-2 w-[263px] bottom-[90px] right-[150px] hidden md:block xl:w-[463px] xl:top-[100px] xl:-right-[120px]"></div>
                    </div>
                </section> 
                <section>
                    <div class="w-full relative mx-auto xl:max-w-[1920px]">
                        <div class="w-full relative mx-auto xl:max-w-7xl mt-[74px] md:mt-20">
                            <div class="w-full px-4 lg:px-2 2xl:px-0 text-white">
                                <div class="w-full mx-auto flex items-start">
                                    <div class="flex items-center justify-center gap-2">
                                        <div><img src="../img/header-footer/logo-icon.png" alt=""></div>
                                        <div data-before="Sự kiện khác" class="layered-heading layered-down pr-2">Sự kiện khác</div>
                                    </div>
                                </div>
                                <div class="w-full grid grid-cols-1 gap-10 mt-8 md:gap-[45px] md:mt-[60px] xl:grid-cols-2">
                                    <div class="blog-card-4">
                                        <div class="outer-card custom-form-background">
                                            <div class="inner-card custom-form-background flex flex-col gap-8">
                                                <div class="flex flex-col items-center gap-8 md:gap-[34px] md:flex-row">
                                                    <div class="w-full md:max-w-[248px]">
                                                        <div class="type mb-2 text-body-2">VVip bar</div>
                                                        <div class="flex gap-1">
                                                            <div><img src="../img/header-footer/fire.png" alt=""></div>
                                                            <div data-before="Kasho" class="layered-heading layered-down-6 layered-no-underline layered-stay-font">Kasho</div>
                                                        </div>
                                                        <div class="text-body-2 mt-[25px] mb-8 md:mt-0.5 md:mb-2.5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor, eleifend porta sed sapien.</div>
                                                        <div class="flex flex-col gap-6">
                                                            <div class="flex gap-3 items-center">
                                                                <div class="icon twi-26-maps-line"></div>
                                                                <div class="text-body-2">99 Nguyễn Thị Minh Khai, Bến Thành, Quận 1,TP. Hồ Chí Minh</div>
                                                            </div>
                                                            <div class="flex gap-3 items-center">
                                                                <div class="icon twi-26-time-line"></div>
                                                                <div class="text-body-2">10:00pm - 3:00am</div>
                                                            </div>
                                                            <div class="flex gap-3 items-center">
                                                                <div class="icon twi-26-phone-line"></div>
                                                                <div class="text-body-2">097.750.2502</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="aspect-square custom-left-card-2">
                                                        <img src="../img/home/kasho.png" alt="" class="w-full h-full object-cover object-center custom-left-card-2">
                                                    </div>
                                                </div>
                                                <div class="w-full flex justify-center">
                                                    <div class="outline-button color-outline pl-[10.2px] pr-[4.2px] py-[2.2px]">
                                                        <a href="./event_detail.html">
                                                            <button type="button" class="outline-button bg-transparent py-3.5 
                                                            pl-[51px] pr-[66px] text-white text-body-3 font-bold font-vl">
                                                                <span></span>
                                                                <div class="relative z-10">Tìm hiểu</div>
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="blog-card-4">
                                        <div class="outer-card custom-form-background">
                                            <div class="inner-card custom-form-background flex flex-col gap-8">
                                                <div class="flex flex-col items-center gap-8 md:gap-[34px] md:flex-row">
                                                    <div class="w-full md:max-w-[248px]">
                                                        <div class="type mb-2 text-body-2">VVip bar</div>
                                                        <div class="flex gap-1">
                                                            <div><img src="../img/header-footer/fire.png" alt=""></div>
                                                            <div data-before="B.O.T.U" class="layered-heading layered-down-6 layered-no-underline layered-stay-font">B.O.T.U</div>
                                                        </div>
                                                        <div class="text-body-2 mt-[25px] mb-8 md:mt-0.5 md:mb-2.5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor, eleifend porta sed sapien.</div>
                                                        <div class="flex flex-col gap-6">
                                                            <div class="flex gap-3 items-center">
                                                                <div class="icon twi-26-maps-line"></div>
                                                                <div class="text-body-2">99 Nguyễn Thị Minh Khai, Bến Thành, Quận 1,TP. Hồ Chí Minh</div>
                                                            </div>
                                                            <div class="flex gap-3 items-center">
                                                                <div class="icon twi-26-time-line"></div>
                                                                <div class="text-body-2">10:00pm - 3:00am</div>
                                                            </div>
                                                            <div class="flex gap-3 items-center">
                                                                <div class="icon twi-26-phone-line"></div>
                                                                <div class="text-body-2">097.750.2502</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="aspect-square custom-left-card-2">
                                                        <img src="../img/home/botu.png" alt="" class="w-full h-full object-cover object-center custom-left-card-2">
                                                    </div>
                                                </div>
                                                <div class="w-full flex justify-center">
                                                    <div class="outline-button color-outline pl-[10.2px] pr-[4.2px] py-[2.2px]">
                                                        <a href="./event_detail.html">
                                                            <button type="button" class="outline-button bg-transparent py-3.5 
                                                            pl-[51px] pr-[66px] text-white text-body-3 font-bold font-vl">
                                                                <span></span>
                                                                <div class="relative z-10">Tìm hiểu</div>
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elipse-blur-15"></div>
                        <div class="elipse-blur-16"></div>
                        <div class="elipse-blur-17"></div>
                        <div class="line-background bg-line-2 w-[463px] hidden xl:block xl:top-[410px] xl:left-[125px]"></div>
                    </div>
                </section> 
                <section>
                    <div class="w-full relative mx-auto xl:max-w-[1920px]">
                        <div class="w-full relative mx-auto xl:max-w-7xl mt-[77px] md:mt-20">
                            <div class="w-full px-4 lg:px-2 2xl:px-0">
                                <div class="w-full mx-auto flex items-start text-white">
                                    <div class="flex items-center justify-center gap-2">
                                        <div><img src="../img/header-footer/logo-icon.png" alt=""></div>
                                        <div data-before="Sự kiện trong tuần" class="layered-heading layered-down pr-2">Sự kiện trong tuần</div>
                                    </div>
                                </div>
                                <div class="w-full grid grid-cols-1 gap-10 mt-10 mb-[60px] md:mt-20 md:mb-10 md:grid-cols-2 xl:my-[60px] xl:grid-cols-3 xl:gap-y-14">
                                    <div class="blog-card flex flex-col gap-8">
                                        <div class="img-container relative p-px">
                                            <div
                                                class="w-full aspect-thumbnail px-[19px] py-[29px] bg-background relative z-[5]">
                                                <img src="../img/home/binz-16-typh.png" alt=""
                                                    class="w-full h-full object-cover">
                                            </div>
                                        </div>
                                        <div class="px-5 flex flex-col gap-3 text-white text-body-2">
                                            <div class="blog-heading"><a href="./event_detail.html">Million Dollar Boy</a></div>
                                            <div class="w-full flex justify-between">
                                                <div>Monday</div>
                                                <div>09:00 PM - 03:00 AM</div>
                                            </div>
                                            <div>16 Typh</div>
                                        </div>
                                    </div>
                                    <div class="blog-card flex flex-col gap-8">
                                        <div class="img-container relative p-px">
                                            <div
                                                class="w-full aspect-thumbnail px-[19px] py-[29px] bg-background relative z-[5]">
                                                <img src="../img/home/zion-live.png" alt=""
                                                    class="w-full h-full object-cover">
                                            </div>
                                        </div>
                                        <div class="px-5 flex flex-col gap-3 text-white text-body-2">
                                            <div class="blog-heading"><a href="./event_detail.html">Million Dollar Boy</a></div>
                                            <div class="w-full flex justify-between">
                                                <div>Sunday</div>
                                                <div>09:00 PM - 03:00 AM</div>
                                            </div>
                                            <div>Văn Mai Hương</div>
                                        </div>
                                    </div>
                                    <div class="blog-card flex flex-col gap-8">
                                        <div class="img-container relative p-px">
                                            <div
                                                class="w-full aspect-thumbnail px-[19px] py-[29px] bg-background relative z-[5]">
                                                <img src="../img/home/purple-drink.png" alt=""
                                                    class="w-full h-full object-cover">
                                            </div>
                                        </div>
                                        <div class="px-5 flex flex-col gap-3 text-white text-body-2">
                                            <div class="blog-heading"><a href="./event_detail.html">Lux Sky Loungue</a></div>
                                            <div class="w-full flex justify-between">
                                                <div>Saturday</div>
                                                <div>09:00 PM - 03:00 AM</div>
                                            </div>
                                            <div>16 Typh</div>
                                        </div>
                                    </div>
                                    <div class="blog-card flex flex-col gap-8">
                                        <div class="img-container relative p-px">
                                            <div
                                                class="w-full aspect-thumbnail px-[19px] py-[29px] bg-background relative z-[5]">
                                                <img src="../img/home/binz-16-typh.png" alt=""
                                                    class="w-full h-full object-cover">
                                            </div>
                                        </div>
                                        <div class="px-5 flex flex-col gap-3 text-white text-body-2">
                                            <div class="blog-heading"><a href="./event_detail.html">Million Dollar Boy</a></div>
                                            <div class="w-full flex justify-between">
                                                <div>Monday</div>
                                                <div>09:00 PM - 03:00 AM</div>
                                            </div>
                                            <div>16 Typh</div>
                                        </div>
                                    </div>
                                    <div class="blog-card flex flex-col gap-8">
                                        <div class="img-container relative p-px">
                                            <div
                                                class="w-full aspect-thumbnail px-[19px] py-[29px] bg-background relative z-[5]">
                                                <img src="../img/home/zion-live.png" alt=""
                                                    class="w-full h-full object-cover">
                                            </div>
                                        </div>
                                        <div class="px-5 flex flex-col gap-3 text-white text-body-2">
                                            <div class="blog-heading"><a href="./event_detail.html">Million Dollar Boy</a></div>
                                            <div class="w-full flex justify-between">
                                                <div>Sunday</div>
                                                <div>09:00 PM - 03:00 AM</div>
                                            </div>
                                            <div>Văn Mai Hương</div>
                                        </div>
                                    </div>
                                    <div class="blog-card flex flex-col gap-8">
                                        <div class="img-container relative p-px">
                                            <div
                                                class="w-full aspect-thumbnail px-[19px] py-[29px] bg-background relative z-[5]">
                                                <img src="../img/home/purple-drink.png" alt=""
                                                    class="w-full h-full object-cover">
                                            </div>
                                        </div>
                                        <div class="px-5 flex flex-col gap-3 text-white text-body-2">
                                            <div class="blog-heading"><a href="./event_detail.html">Lux Sky Loungue</a></div>
                                            <div class="w-full flex justify-between">
                                                <div>Saturday</div>
                                                <div>09:00 PM - 03:00 AM</div>
                                            </div>
                                            <div>16 Typh</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-full flex justify-center">
                                    <div class="outline-button color-outline pl-[9.2px] pr-[5.2px] py-[2.2px]">
                                        <a href="./event.html">
                                            <button type="button" class="outline-button bg-transparent py-3.5 
                                            pl-[69px] pr-[68px] text-white text-body-3 font-bold font-vl">
                                                <span></span>
                                                <div class="relative z-10">Tất cả</div>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elipse-blur-14"></div>
                        <div class="line-background bg-line-2 w-[463px] hidden xl:block xl:top-5 xl:-right-[130px]"></div>
                        <div class="line-background bg-line-2 w-[204px] hidden xl:block xl:top-20 xl:left-[620px]"></div>
                    </div>
                </section> 
            </div>
        </div>

    </main>

    <!-- footer -->
    <footer>
        <div class="pt-px bg-gradient-180 from-gradient-1-start to-gradient-1-end">
            <div class="w-full relative h-auto bg-background">
                <div class="xl:max-w-7xl mx-auto relative overflow-x-hidden xl:overflow-x-visible">
                    <div class="relative z-10 py-10 px-4 flex flex-col gap-6 text-white font-normal lg:px-2 2xl:px-0">
                        <div class="pt-2.5 gap-8 flex flex-col items-start w-full max-w-[302px] md:max-w-[643px]">
                            <div>
                                <a href="./index.html"><img src="../img/header-footer/logo.png" alt=""
                                        class="h-9 w-[182px] object-cover"></a>
                            </div>
                            <div class="w-full h-px bg-footer-line"></div>
                        </div>
                        <div class="flex flex-col gap-10 md:flex-row md:justify-between xl:gap-[255.2px]">
                            <div class="flex flex-col gap-[34px]">
                                <div>
                                    <div class="text-body-3 font-bold">September 24,25 --- 2022</div>
                                    <div class="text-body-2">Hồ Chí Minh</div>
                                </div>
                                <div class="text-title-3">02 ngày , 04 : 20 : 49</div>
                            </div>
                            <div class="flex flex-col gap-8 md:flex-row md:gap-[39px] xl:flex-1 xl:justify-between">
                                <ul
                                    class="text-body-2 flex gap-6 w-full justify-center md:justify-start md:items-center md:flex-col xl:max-w-[360px]">
                                    <li><a href="./index.html#price-information">Thông tin giá vé</a></li>
                                    <li><a href="./library.html">Thư viện</a></li>
                                    <li><a href="./blog.html">Bài viết</a></li>
                                    <li><a href="./contact.html">Liên hệ</a></li>
                                </ul>
                                <div class="w-full flex justify-center md:w-fit xl:pr-[60px]">
                                    <div class="flex flex-col items-center gap-6 min-w-[300px]">
                                        <form action="" class="flex flex-col gap-6">
                                            <div
                                                class="p-px bg-gradient-180 from-gradient-1-start to-gradient-1-end">
                                                <input type="email" name="sendEmail" id="sendEmail"
                                                    placeholder="Nhập email của bạn" required
                                                    class="placeholder:text-neutral-1-400 w-full p-[17px] bg-background outline-none border-none">
                                            </div>
                                            <div
                                                class="p-px bg-gradient-180 from-gradient-1-start to-gradient-1-end group">
                                                <button class="px-[75px] py-[17px] bg-transparent text-body-3 font-bold text-white group-hover:bg-background
                                                transition-all duration-300 ease-out break-keep">Gửi đến chúng
                                                    tôi</button>
                                            </div>
                                        </form>
                                        <div class="py-2.5 flex gap-6 items-center justify-center">
                                            <div
                                                class="text-[#4D4D4D] text-[28px] leading-7 cursor-pointer twi-26-ffacebook-fill hover:text-info-500">
                                            </div>
                                            <div
                                                class="text-[#4D4D4D] text-[28px] leading-7 cursor-pointer twi-26-instagram-line hover:text-warning-400">
                                            </div>
                                            <div
                                                class="text-[#4D4D4D] text-[28px] leading-7 cursor-pointer twi-26-music-line hover:text-info-400">
                                            </div>
                                            <div
                                                class="text-[#4D4D4D] text-[28px] leading-7 cursor-pointer twi-26-youtube-line hover:text-error-400">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elipse-blur-footer-1"></div>
                    <div class="elipse-blur-footer-2"></div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>