<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chi tiết thư viện ảnh</title>
</head>

<body class="w-screen h-full overflow-x-hidden font-utm relative bg-background">
    <!-- header trang chủ -->
    <header>
        <div class="w-full fixed top-0 z-50 bg-background">
            <div class="relative mx-auto md:max-w-7xl">
                <div class="py-3.5 px-4 w-full lg:px-2 2xl:px-0">
                    <nav class="w-full flex items-center justify-between">
                        <div>
                            <a href="./index.html"><img src="../img/header-footer/logo.png" alt=""
                                    class="h-9 w-[138px] object-contain"></a>
                        </div>
                        <ul
                            class="absolute left-0 top-0 z-50 w-full min-h-screen pl-4 bg-background text-body-2 text-neutral-1-700 font-normal hidden flex-col gap-6 
                        xl:gap-[34px] xl:pl-0 xl:pr-2.5 xl:w-auto xl:min-h-[62px] xl:flex-row xl:flex xl:items-center xl:static">
                            <div class="w-full flex justify-end px-4 pt-3.5 xl:hidden">
                                <div class="close-btn text-[40px] leading-10 text-neutral-2-300 cursor-pointer">&#10005;</div>
                            </div>
                            <li class="h-full flex items-center justify-center xl:w-[90px]"><a href="./index.html"
                                    class="w-full relative xl:text-center">Trang chủ</a></li>
                            <li class="h-full flex items-center justify-center xl:w-[90px]"><a href="./event.html"
                                    class="w-full relative xl:text-center">Sự kiện</a></li>
                            <li class="h-full flex items-center justify-center xl:w-[90px]"><a href="./library.html"
                                    class="w-full relative xl:text-center current-page">Thư viện</a></li>
                            <li class="h-full flex items-center justify-center xl:w-[90px]"><a href="./blog.html"
                                    class="w-full relative xl:text-center">Bài viết</a></li>
                            <li class="h-full flex items-center justify-center xl:w-[90px]"><a href="./contact.html"
                                    class="w-full relative xl:text-center">Liên hệ</a></li>
                            <li class="h-full flex items-center xl:hidden">
                                <div class="login-btn outline-button color-outline pl-[10.2px] pr-[4.2px] py-[2.2px]">
                                    <button type="button"
                                        class="outline-button bg-transparent py-3.5 pl-[69px] pr-[68px] text-white text-body-3 font-bold font-vl"><span></span>
                                        <div class="relative z-10">Đăng nhập</div>
                                    </button>
                                </div>
                            </li>
                        </ul>
                        <div
                            class="login-btn outline-button color-outline pl-[10.2px] pr-[4.2px] py-[2.2px] hidden xl:block">
                            <button type="button"
                                class="outline-button bg-transparent py-3.5 pl-[69px] pr-[68px] text-white text-body-3 font-bold font-vl"><span></span>
                                <div class="relative z-10">Đăng nhập</div>
                            </button>
                        </div>
                        <button type="button" class="toggle-btn twi-26-menu-fill relative z-20 cursor-pointer 
                            text-neutral-2-300 rounded-lg w-auto h-auto text-[40px] leading-10 
                            flex items-center justify-center xl:hidden">
                        </button>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="w-full relative h-auto mt-[68px] xl:mt-[90px]"></div>
        <section>
            <div class="w-full relative overflow-x-hidden">
                <div class="w-full relative mx-auto xl:max-w-7xl">
                    <div class="w-full px-4 flex flex-col gap-10 pb-20 pt-10 md:py-20 lg:px-2 xl:pb-[120px] xl:py-20 2xl:px-0">
                        <div class="w-full flex flex-col items-center text-white">
                            <div class="w-full flex items-center justify-center gap-2 p-2.5">
                                <div><img src="../img/header-footer/logo-icon.png" alt=""></div>
                                <div data-before="HANGOVER" class="layered-heading layered-down-2 md:text-5xl md:leading-[48px] pr-2">HANGOVER</div>
                            </div>
                            <div class="w-full mt-[17px] mb-8 md:mt-4 md:mb-10 text-body-2 text-center max-w-[628px]">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Diam, eu malesuada consectetur diam sit mauris.Diam, eu 
                                malesuada consectetur diam sit mauris.Lorem ipsum dolor
                                    sit amet, consectetur adpiscing elit.</div>
                            <div class="w-full bg-line-3 h-px max-w-[676px]"></div>
                        </div>
                        <div class="flex items-center justify-center">
                            <div class="outer-select-box">
                                <div class="inner-select-box">
                                    <div id="selectedValue">Sự kiện khác</div>
                                    <div class="arrow"></div>
                                </div>
                                <div class="option-list">
                                    <div class="space"></div>
                                    <div class="option">Kasho</div>
                                    <div class="option">Million Dollar Boy</div>
                                    <div class="option">B.O.T.U</div>
                                    <div class="option">Atmos</div>
                                    <div class="option">Atmos</div>
                                    <div class="option">Atmos</div>
                                </div>
                            </div>
                        </div>
                        <div class="w-full flex flex-wrap justify-center gap-8 md:gap-x-[26px] md:gap-y-10 xl:gap-10 xl:mt-[30px]">
                            <div class="aspect-thumbnail ratio-flex"><img src="../img/home/mck-0.png" alt="" class="w-full h-full object-cover object-center"></div>
                            <div class="aspect-thumbnail ratio-flex"><img src="../img/home/group-3.png" alt="" class="w-full h-full object-cover object-center"></div>
                            <div class="aspect-thumbnail ratio-flex"><img src="../img/home/group-4.png" alt="" class="w-full h-full object-cover object-center"></div>
                            <div class="aspect-thumbnail ratio-flex"><img src="../img/home/16-typh-1.png" alt="" class="w-full h-full object-cover object-center"></div>
                            
                            <div class="aspect-thumbnail ratio-flex"><img src="../img/home/group-0.png" alt="" class="w-full h-full object-cover object-center"></div>
                            <div class="aspect-thumbnail ratio-flex"><img src="../img/home/girl-2.png" alt="" class="w-full h-full object-cover object-center"></div>
                            <div class="aspect-thumbnail ratio-flex"><img src="../img/home/binz-16-typh.png" alt="" class="w-full h-full object-cover object-center"></div>
                            <div class="aspect-thumbnail ratio-flex"><img src="../img/home/binz.png" alt="" class="w-full h-full object-cover object-center"></div>
                            
                            <div class="aspect-thumbnail ratio-flex"><img src="../img/home/group-1.png" alt="" class="w-full h-full object-cover object-center"></div>
                            <div class="aspect-thumbnail ratio-flex"><img src="../img/home/black-dj.png" alt="" class="w-full h-full object-cover object-center"></div>
                            <div class="aspect-thumbnail ratio-flex"><img src="../img/home/purple-drink.png" alt="" class="w-full h-full object-cover object-center"></div>
                            <div class="aspect-thumbnail ratio-flex"><img src="../img/home/girl-5.png" alt="" class="w-full h-full object-cover object-center"></div>
                            
                            <div class="aspect-thumbnail ratio-flex"><img src="../img/home/girl-3.png" alt="" class="w-full h-full object-cover object-center"></div>
                            <div class="aspect-thumbnail ratio-flex"><img src="../img/home/beer.png" alt="" class="w-full h-full object-cover object-center"></div>
                        </div>
                    </div>
                    <div class="elipse-blur-12"></div>
                    <div class="elipse-blur-13"></div>
                </div>
            </div>
        </section>

    </main>

    <!-- footer -->
    <footer>
        <div class="pt-px bg-gradient-180 from-gradient-1-start to-gradient-1-end">
            <div class="w-full relative h-auto bg-background">
                <div class="xl:max-w-7xl mx-auto relative overflow-x-hidden xl:overflow-x-visible">
                    <div class="relative z-10 py-10 px-4 flex flex-col gap-6 text-white font-normal lg:px-2 2xl:px-0">
                        <div class="pt-2.5 gap-8 flex flex-col items-start w-full max-w-[302px] md:max-w-[643px]">
                            <div>
                                <a href="./index.html"><img src="../img/header-footer/logo.png" alt=""
                                        class="h-9 w-[182px] object-cover"></a>
                            </div>
                            <div class="w-full h-px bg-footer-line"></div>
                        </div>
                        <div class="flex flex-col gap-10 md:flex-row md:justify-between xl:gap-[255.2px]">
                            <div class="flex flex-col gap-[34px]">
                                <div>
                                    <div class="text-body-3 font-bold">September 24,25 --- 2022</div>
                                    <div class="text-body-2">Hồ Chí Minh</div>
                                </div>
                                <div class="text-title-3">02 ngày , 04 : 20 : 49</div>
                            </div>
                            <div class="flex flex-col gap-8 md:flex-row md:gap-[39px] xl:flex-1 xl:justify-between">
                                <ul
                                    class="text-body-2 flex gap-6 w-full justify-center md:justify-start md:items-center md:flex-col xl:max-w-[360px]">
                                    <li><a href="./index.html#price-information">Thông tin giá vé</a></li>
                                    <li><a href="./library.html">Thư viện</a></li>
                                    <li><a href="./blog.html">Bài viết</a></li>
                                    <li><a href="./contact.html">Liên hệ</a></li>
                                </ul>
                                <div class="w-full flex justify-center md:w-fit xl:pr-[60px]">
                                    <div class="flex flex-col items-center gap-6 min-w-[300px]">
                                        <form action="" class="flex flex-col gap-6">
                                            <div
                                                class="p-px bg-gradient-180 from-gradient-1-start to-gradient-1-end">
                                                <input type="email" name="sendEmail" id="sendEmail"
                                                    placeholder="Nhập email của bạn" required
                                                    class="placeholder:text-neutral-1-400 w-full p-[17px] bg-background outline-none border-none">
                                            </div>
                                            <div
                                                class="p-px bg-gradient-180 from-gradient-1-start to-gradient-1-end group">
                                                <button class="px-[75px] py-[17px] bg-transparent text-body-3 font-bold text-white group-hover:bg-background
                                                transition-all duration-300 ease-out break-keep">Gửi đến chúng
                                                    tôi</button>
                                            </div>
                                        </form>
                                        <div class="py-2.5 flex gap-6 items-center justify-center">
                                            <div
                                                class="text-[#4D4D4D] text-[28px] leading-7 cursor-pointer twi-26-ffacebook-fill hover:text-info-500">
                                            </div>
                                            <div
                                                class="text-[#4D4D4D] text-[28px] leading-7 cursor-pointer twi-26-instagram-line hover:text-warning-400">
                                            </div>
                                            <div
                                                class="text-[#4D4D4D] text-[28px] leading-7 cursor-pointer twi-26-music-line hover:text-info-400">
                                            </div>
                                            <div
                                                class="text-[#4D4D4D] text-[28px] leading-7 cursor-pointer twi-26-youtube-line hover:text-error-400">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elipse-blur-footer-1"></div>
                    <div class="elipse-blur-footer-2"></div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>